@media screen and (min-width: 550px) {
    aside {
        width: 180px;
    }
    .content {
        flex-basis: calc(100% - 100px);

    }
    /* Footer style */
    .left-footer li span {
        display: inline;
    }
    .left-footer li:last-child {
        display: none;
    }
    .left-footer, .right-footer {
        flex-basis: 150px;
    }
    .right-footer {
        gap:5px;
    }
}