@media screen and (max-height: 400px) {   /* small screen height */
    .aside-footer {
        display: none;
    }
}

@media screen and (max-width: 485px) {    /* x-small screen width */
    .left-footer, .right-footer {
        display: none;
    }
    footer {
        justify-content: center;
    }
    .col {
        flex-basis: 100%;
    }
    .active::before {
        left: -5px;
    }
}

@media screen and (min-width: 550px) {    /* small screen width */
    
    /* Aside style */    
    aside {
        flex-basis: 180px;
        font-size: small;
        padding-bottom: 5px;
    }
    aside > nav {
        padding: 10px;
    }
    aside > nav, .aside-footer {
        text-align: left;
    }
    #logo-sm {
        display: none;
    }
    #logo-bg {
        display: block;
    }
    aside nav li {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    nav img {
        margin-right: 3px;
    }
    .fake-btn {
        display: inline-block;
    }
    aside .custom-hr, span {
        display: inline;
    }
    nav h2 {
        display: block;
    }
    .aside-footer {
        padding: 10px;
    }
    aside .active::before {
        left: -10px;
    }

    /* Main content style */
    .content {
        flex-basis: calc(100% - 100px);
    }
    .content nav li {
        flex-basis: calc(100% / 3);
    }

    /* Footer style */
    .left-footer li span {
        display: inline;
    }
    .left-footer li:last-child {
        display: none;
    }
    .left-footer, .right-footer {
        flex-basis: 150px;
    }
}

@media screen and (min-width: 650px) {    /* medium screen width */
    
    /* .content style */
    .content nav li {
        flex-basis: 25%;
    }
}

@media screen and (min-width: 700px) {    /* large screen width */
    
    /* .content style */
    .content nav li {
        flex-basis: 20%;
    }
    /* .render-library style */
    .col {
        flex-basis: 25%;
    }
}

@media screen and (min-width: 750px) {   /* x-large screen width */
    
    /* .content style */
    .content nav {
        max-width: 550px;
        margin: 0 auto;
    }
    .content nav li {
        flex-basis: calc(100% / 6);
    }
    /* .render-library style */
    .col {
        flex-basis: calc(100% / 6);
    }
}
