/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Blocchettoni iniziali  */
main {
    height: calc(100vh - 80px);
    background-color: orangered;       /* per blocchettoni */
    border: 5px dashed blue;           /* per blocchettoni */

    display: flex;

}
aside {
    width: 60px;
    height: 100%;
    background-color: brown;           /* per blocchettoni */
    border: 5px dashed green;          /* per blocchettoni */
}
aside > nav {
    overflow-y: hidden;
    height: calc(100% - 30px);
    padding: 5px;
    width: 100%;

}
aside > .aside-footer {
    height: 30px;
    background-color: darkcyan;
    border: 5px dashed black;
}
.content {
    flex-basis: 100%;
    background-color: dodgerblue;
    border: 5px dashed black;
    overflow-y:scroll;
    scrollbar-width: thin;
}
.content header {
    height: 35px;
    background-color: rgba(255, 215, 0, 0.5);
    border: 5px dashed fuchsia;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
}

.prova {
    height: 30px;
    width: 40px;
    background-color: black;
    border: 2px solid white;
}
.render-library {
    /* overflow-y: scroll; */
}


/* Scroll bar style */















footer {
    height: 80px;
    background-color: blueviolet;        /* per blocchettoni */
    border: 5px dashed goldenrod;      /* per blocchettoni */
}